@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-size: 16px;
	font-family: 'Spartan', sans-serif;
}

h1 {
	font-size: 3.125rem;
	line-height: 64px;
	color: #222;
}

h2 {
	font-size: 2.875rem;
	line-height: 54px;
	color: #222;
}

h4 {
	font-size: 1.25rem;
	color: #222;
}

h6 {
	font-weight: 700;
	font-size: 0.75rem;
}

p {
	font-size: 1rem;
	color: #465b52;
	margin: 0.94rem 0 1.25rem 0;
}

.section-p1 {
	padding: 2.5rem 5rem;
}

.section-m1 {
	margin: 2.5rem 0;
}

button.normal {
	font-size: 0.875rem;
	font-weight: 600;
	padding: 0.94rem 1.875rem;
	color: #000000;
	background-color: #ffffff;
	border-radius: 4px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: 0.2s;
}

button.white {
	font-size: 0.8125rem;
	font-weight: 600;
	padding: 0.6875rem 1.125rem;
	color: #ffffff;
	background-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	border: 1px solid #ffffff;
	outline: none;
	transition: 0.2s;
}

/* Comienzo del Header */

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.125rem 5rem;
	background: #E3E6F3;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.06);
	z-index: 999;
	position: sticky;
	top: 0;
	left: 0;
}

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li {
	list-style: none;
	padding: 0 1.25rem;
	position: relative;
}

#navbar li a {
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	color: #1a1a1a;
	transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
	color: #088178;	
}

#navbar li a.active::after,
#navbar li a:hover::after {
	content: "";
	width: 30%;
	height: 0.125rem;
	background: #088178;
	position: absolute;
	bottom: -4px;
	left: 20px;
}

#navbar li a i {
	width: 1.125rem;
	height: 1.25rem;
}

#mobile {
	display: none;
	align-items: center;
}

#cerrar {
	display: none;
}

/* Pie de Pagina */

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .col{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 1.25rem;
}

footer .logo-footer {
	margin-bottom: 1.875rem;
}

footer h4 {
	font-size: 0.875rem;
	padding-bottom: 1.25rem;
}

footer p {
	font-size: 0.8125rem;
	margin: 0 0 8px 0;
}

footer a {
	font-size: 0.8125rem;
	text-decoration: none;
	color: #222222;
	margin-bottom: 0.625rem;
}

footer .siguenos {
	margin-top: 1.25rem;
}

footer .siguenos i {
	color: #465b52;
	padding-right: 0.25rem;
	cursor: pointer; 
}

footer .instalar .fila img {
	border: 1px solid #088178;
	border-radius: 6px;
	cursor: pointer;
}

footer .instalar img {
	margin: 0.625rem 0 0.94rem 0;
	cursor: pointer;
}

footer .siguenos i:hover,
footer a:hover {
	color: #088178;
}

footer .copyright {
	width: 100%;
	text-align: center;
}

/* Estilos del Inicio */

#hero {
	background-image: url("img/hero4.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 25% right 0;
	padding: 0 5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#hero h4 {
	padding-bottom: 0.94rem;
}

#hero h1 {
	color: #088178;
}

#hero p {
    color: #000000;
}
#hero button {
	background-image: url("img/button.png");
	background-color: transparent;
	color: #088178;
	border: 0;
	padding: 0.875rem 5rem 0.875rem 4.06rem;
	background-repeat: no-repeat;
	cursor: pointer;
	font-weight: 700;
	font-size: 0.94rem;
}

#fe-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

#fe-section .fe-box {
	width: 11.25rem;
	text-align: center;
	padding: 1.5625rem 0.94rem;
	box-shadow: 1.25rem 1.25rem 2.125rem rgba(0, 0, 0, 0.03);
	border: 1px solid #cce7d0;
	border-radius: 4px;
	margin: 0.94rem 0;
}

#fe-section .fe-box:hover {
	box-shadow: 0.625rem 0.625rem 3.375rem rgba(70, 62, 221, 0.1);
}

#fe-section .fe-box img {
	width: 100%;
	margin-bottom: 0.625rem;
}

#fe-section .fe-box h6 {
	display: inline-block;
	padding: 0.5625rem 0.5rem 0.375rem 0.5rem;
	line-height: 1;
	border-radius: 4px;
	color: #088178;
	background-color: #fddde4;
}

#fe-section .fe-box:nth-child(2) h6 {
	background-color: #cdebbc;
}

#fe-section .fe-box:nth-child(3) h6 {
	background-color: #d1e8f2;
}

#fe-section .fe-box:nth-child(4) h6 {
	background-color: #cdd4f8;
}

#fe-section .fe-box:nth-child(5) h6 {
	background-color: #f6dbf6;
}

#fe-section .fe-box:nth-child(6) h6 {
	background-color: #fff2e5;
}

#producto1 {
	text-align: center;
}

#producto1 .pro-contenedor {
	display: flex;
	justify-content: space-between;
	padding-top: 1.25rem;
	flex-wrap: wrap;
}

#producto1 .pro {
	width: 23%;
	min-width: 15.625rem;
	padding: 0.625rem 0.75rem;
	border: 1px solid #cce7d0;
	border-radius: 25px;
	cursor: pointer;
	box-shadow: 1.25rem 1.25rem 1.875rem rgba(0, 0, 0, 0.02);
	margin: 0.94rem 0;
	transition: 0.2s ease;
	position: relative;
}

#producto1 .pro:hover {
	box-shadow: 1.3rem 1.3rem 1.88 rgba(0, 0, 0, 0.06);
}

#producto1 .pro img {
	width: 100%;
	border-radius: 20px;
}

#producto1 .pro .descrip {
	text-align: start;
	padding: 0.625rem 0;
}

#producto1 .pro .descrip span {
	color: #606063;
	font-size: 0.75rem;
}

#producto1 .pro .descrip h5 {
	padding-top: 0.4375rem;
	color: #1a1a1a;
	font-size: 0.875rem;
}

#producto1 .pro .descrip i {
	font-size: 0.75rem;
	color: rgb(243, 181, 25);
}

#producto1 .pro .descrip h4 {
	padding-top: 0.4375rem;
	font-size: 0.94rem;
	font-weight: 700;
	color: #088178; 
}

#producto1 .pro .carrito {
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	border-radius: 50px;
	background-color: #e8f6ea;
	font-weight: 500;
	color: #088178;
	border: 1px solid #cce7d0;
	position: absolute;
	bottom: 0.625rem;
	right: 0.625rem;
}

#banner {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url("img/banner/b2.jpg");
	width: 100%;
	height: 40vh;
	background-size: cover;
	background-position: center;
}

#banner h4 {
	color: #ffffff;
	font-size: 1rem;
}

#banner h2 {
	color: #ffffff;
	font-size: 1.875rem;
	padding: 0.625rem 0;
}

#banner h2 span {
	color: #ef3636;
}

#banner button:hover {
	background-color: #088178;
	color: #ffffff;
}

#mini-banner {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

#mini-banner .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-image: url("img/banner/b17.jpg");
	min-width: 48%;
	height: 50vh;
	background-size: cover;
	background-position: center;
	padding: 1.875rem;
}

#mini-banner .banner-box2 {
	background-image: url("img/banner/b10.jpg");
}

#mini-banner h4 {
	color: #ffffff;
	font-size: 1.25rem;
	font-weight: 300;
}

#mini-banner h2 {
	color: #ffffff;
	font-size: 1.75rem;
	font-weight: 800;
}

#mini-banner span {
	color: #ffffff;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.94rem; 
}

#mini-banner .banner-box:hover button {
	background: #088178;
	border: 1px solid #088178;
}

#banner3 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 5rem;
}

#banner3 .banner-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-image: url("img/banner/b7.jpg");
	min-width: 32%;
	height: 30vh;
	background-size: cover;
	background-position: center;
	padding: 1.25rem;
	margin-bottom: 1.25rem;
}

#banner3 .banner-box2 {
	background-image: url("img/banner/b4.jpg");
}

#banner3 .banner-box3 {
	background-image: url("img/banner/b18.jpg");
}

#banner3 h2 {
	color: #ffffff;
	font-weight: 900;
	font-size: 1.375rem;
}

#banner3 h3 {
	color: #F68108;
	font-weight: 800;
	font-size: 0.94rem;
}

#novedades {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	background-image: url("img/banner/b14.png");
	background-repeat: no-repeat;
	background-position: 20% 30%;
	background-color: #041e42;
}

#novedades h4 {
	font-size: 1.375rem;
	font-weight: 700;
	color: #ffffff;
}

#novedades p {
	font-size: 0.875rem;
	font-weight: 600;
	color: #818ea0;
}

#novedades p span {
	color: #ffbd27;
}

#novedades .formulario {
	display: flex;
	width: 40%;
}

#novedades input {
	height: 3.125rem;
	padding: 0 1.25em;
	font-size: 0.875rem;
	width: 100%;
	border: 1px solid transparent;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;  
	outline: none;
}

#novedades button {
	background-color: #088178;
	color: #ffffff;
	white-space: nowrap;
	cursor: pointer;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

/* Estilos de la tienda */

#paginas-header {
	background-image: url(img/banner/b1.jpg);
	width: 100%;
	height: 40vh;
	background-size: cover;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0.875rem;
}

#paginas-header h2,
#paginas-header p {
	color: #ffffff;
}

#paginacion {
	text-align: center;
}

#paginacion a {
	text-decoration: none;
	background-color: #088178;
	padding: 0.9375rem 1.25rem;
	border-radius: 4px;
	color: #ffffff;
	font-weight: 600; 
}

#paginacion a i {
	font-size: 16px;
	font-weight: 600;
}

/* Estilos de la pagina de descripcion de productos */

#pro-detalles {
	display: flex;
	margin-top: 1.25rem;
}

#pro-detalles .pro-indi-img {
	width: 40%;
	margin-right: 3.125rem;
}

#pro-detalles .grupo-pro-peque {
	display: flex;
	justify-content: space-between;
}

#pro-detalles .grupo-pro-col {
	flex-basis: 24%;
	cursor: pointer;
}

#pro-detalles .pro-indi-detalles {
	width: 50%;
	padding-top: 1.875rem;
}

#pro-detalles .pro-indi-detalles h4 {
	padding: 2.5rem 0 1.25rem 0;
}

#pro-detalles .pro-indi-detalles h2 {
	font-size: 26px;
}

#pro-detalles .pro-indi-detalles select {
	display: block;
	padding: 0.3125rem 0.625rem;
	margin-bottom: 0.625rem;
}

#pro-detalles .pro-indi-detalles input {
	width: 3.125rem;
	height: 2.9375rem;
	padding-left: 0.625rem;
	font-size: 16px;
	margin-right: 0.625rem;
}

#pro-detalles .pro-indi-detalles input:focus {
	outline: none;
}

#pro-detalles .pro-indi-detalles button {
	background-color: #088178;
	color: #ffffff;
}

#pro-detalles .pro-indi-detalles p {
	line-height: 25px;
	text-align: justify;
}

/* Estilos del blog */

#paginas-header.blog-header {
	background-image: url("img/banner/b19.jpg");
}

#blog {
	padding: 9.375rem 9.375rem 0 9.375rem;
}

#blog .blog-art {
	display: flex;
	align-items: center;
	width: 100%;
	position: relative;
	padding-bottom: 5.625rem;
}

#blog .blog-art h1 {
	position: absolute;
	top: -2.5rem;
	left: 0;
	font-size: 70px;
	font-weight: 700;
	color: #c9cbce;
	z-index: -9;
}

#blog .blog-img {
	width: 50%;
	margin-right: 2.5rem;
}

#blog img {
	width: 100%;
	height: 18.75rem;
	object-fit: cover;
}

#blog .blog-detalles {
	width: 50%;
}

#blog .blog-detalles a {
	text-decoration: none;
	font-size: 14px;
	color: #000000;
	font-weight: 800;
	position: relative;
	transition: 0.3s;
}

#blog .blog-detalles a::after {
	content: "";
	width: 3.125rem;
	height: 0.0625rem;
	background-color: #000000;
	position: absolute;
	top: 0.25rem;
	right: -3.75rem;
}

#blog .blog-detalles a:hover {
	color: #088178;
}

#blog .blog-detalles a:hover::after {
	background-color: #088178;
}

#blog .blog-detalles p {
	text-align: justify;
}

/* Estilos de articulo del blog */

#paginas-header.bloga-header {
	background-image: url(img/sign_img.png);
}

#parrafo-blog {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#parrafo-blog h2 {
	text-align: left;
}

#parrafo-blog p {
	text-align: justify;
}

.centrar {
	text-align: center;
}

#parrafo-blog img {
	width: 50%;
	height: auto;
}

/* Estilos del acerca (about) */

#paginas-header.acerca-header {
	background-image: url("img/about/banner.png");
}

#acerca-head {
	display: flex;
	align-items: center;
}

#acerca-head img {
	width: 50%;
	height: auto;
}

#acerca-head div {
	padding-left: 2.5rem;
}

#acerca-app {
	text-align: center;
}

#acerca-app .app-img {
	width: 70%;
	height: 100%;
	margin: 1.875rem auto 0 auto;
}

#acerca-app .app-img img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

/* Estilos de pagina de contacto */

#contacto-detalles {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#contacto-detalles .detalles {
	width: 40%;
}

#contacto-detalles .detalles span,
#formulario-detalles form span {
	font-size: 12px;
}

#contacto-detalles .detalles h2,
#formulario-detalles form h2 {
	font-size: 26px;
	line-height: 35px;
	padding: 1.25rem 0;
}

#contacto-detalles .detalles h3 {
	font-size: 16px;
	padding-bottom: 0.9375rem;
}

#contacto-detalles .detalles li {
	list-style: none;
	display: flex;
	padding: 0.625rem 0;
}

#contacto-detalles .detalles li i {
	font-size: 14px;
	padding-right: 1.375rem;
}

#contacto-detalles .detalles li p {
	margin: 0;
	font-size: 14px;
}

#contacto-detalles .g-map {
	width: 55%;
	height: 25rem;
}

#contacto-detalles .g-map iframe {
	width: 100%;
	height: 100%;
}

#formulario-detalles {
	display: flex;
	justify-content: space-between;
	margin: 1.875rem;
	padding: 5rem;
	border: 1px solid #e1e1e1;
}

#formulario-detalles form {
	width: 65%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#formulario-detalles form input,
#formulario-detalles form textarea {
	width: 100%;
	padding: 0.75rem 0.625rem;
	outline: none;
	margin-bottom: 1.25rem;
	border: 1px solid #e1e1e1;
}

#formulario-detalles form button {
	background-color: #088178;
	color: #ffffff;
}

#formulario-detalles .cont-personas div {
	padding-bottom: 1.5625rem;
	display: flex;
	align-items: flex-start;
}

#formulario-detalles .cont-personas div img {
	width: 4.0625rem;
	height: 4.0625rem;
	object-fit: cover;
	margin-right: 0.9375rem;
}

#formulario-detalles .cont-personas div p {
	margin: 0;
	font-size: 13px;
	line-height: 25px;
}

#formulario-detalles .cont-personas div p span {
	display: block;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
}

/* Pagina del carrito */

#carrito {
	overflow-x: auto;
}

#carrito table {
	width: 100%;
	border-collapse: collapse;
	table-layout: fixed;
	white-space: nowrap;
}

#carrito table img {
	width: 4.375rem;
}

#carrito table td:nth-child(1) {
	width: 6.25rem;
	text-align: center;
}

#carrito table td:nth-child(2) {
	width: 9.375rem;
	text-align: center;
}

#carrito table td:nth-child(3) {
	width: 15.625rem;
	text-align: center;
}

#carrito table td:nth-child(4),
#carrito table td:nth-child(5),
#carrito table td:nth-child(6) {
	width: 9.375rem;
	text-align: center;
}

#carrito table td:nth-child(5) input {
	width: 4.375rem;
	padding: 0.625rem 0.3125rem 0.625rem 0.9375rem;
}

#carrito table thead {
	border: 1px solid #e2e9e1;
	border-left: none;
	border-right: none;
}

#carrito table thead td {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 13px;
	padding: 1.125rem 0;
}

#carrito table tbody tr td {
	padding-top: 0.9375rem; 
}

#carrito table tbody td {
	font-size: 13px;
}

#carrito-cupon {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#cupon {
	width: 50%;
	margin-bottom: 1.875rem;
}

#cupon h3,
#subtotal h3 {
	padding-bottom: 0.9375rem;
}

#cupon input {
	padding: 0.625rem 1.25rem;
	outline: none;
	width: 60%;
	margin-right: 0.625rem;
	border: 1px solid #e2e9e1; 
}

#cupon button,
#subtotal button {
	background-color: #088178;
	color: #ffffff;
	padding: 0.75rem 1.25rem;
}

#subtotal {
	width: 50%;
	margin-bottom: 1.875rem;
	border: 1px solid #e2e9e1;
	padding: 1.875rem;
}

#subtotal table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 1.25rem; 
}

#subtotal table td {
	width: 50%;
	border: 1px solid #e2e9e1;
	padding: 10px;
	font-size: 13px; 
}

/* Estilos de register y login */

#container_formpage {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(img/sign_img.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#container_formpage h2,
#container_formpage p,
#container_formpage i {
 	color: #ffffff;
 }


.container_form {
	width: 90%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	transition: all .5s ease-out;
}

.welcome-back {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.message {
	padding: 1rem;
}

.message h2 {
	font-size: 2rem;
	padding: 1rem 0;
}

.message button {
	padding: 1rem;
	font-weight: 400;
	background-color: transparent;
	border-radius: 2rem;
	border: 2px solid #088178;
	outline: none;
	cursor: pointer;
	font-size: .9rem;
	margin-top: 2rem;
	transition: all .3s ease-in;
	color: #ffffff;
}

.message button:hover {
	background-color: #088178;
}

.form {
	width: 25rem;
	padding: 1rem;
	margin: 2rem;
	background-color: rgba(51, 51, 51, 0.602);
	text-align: center;
}

.create-account {
	padding: 2.7rem 0;
	font-size: 1.7rem;
}

.iconos {
	width: 12.5rem;
	display: flex;
	justify-content: space-around;
	margin: auto;
}

.border-icon {
	height: 1.25rem;
	width: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.5rem;
	border: 2px solid #ffffff;
	border-radius: 50%;
	font-size: 1.5rem;
	transition: all .3s ease-in;
}

.border-icon:hover {
	background-color: #088178;
	cursor: pointer;
}

.cuenta-gratis {
	padding: 2rem 0;
}

.form input {
	width: 70%;
	display: block;
	margin: auto;
	margin-bottom: 2rem;
	background-color: transparent;
	border: none;
	border-bottom: thin solid #ffffff;
	text-align: center;
	outline: none;
	padding: .2rem 0;
	font-size: .9rem;
	color: #ffffff;
}

.form input::placeholder {
	color: #ffffff;
}

.form #submit {
	width: 60%;
	margin: auto;
	padding: .7rem;
	border-radius: 2rem;
	background-color: #ffffff;
	font-weight: 600;
	margin-top: 3rem;
	font-size: .8rem;
	cursor: pointer;
	color: #222;
}

.container_login {
	position: absolute;
	opacity: 0;
	visibility: hidden;
}

.container_login.active-sign {
	opacity: 1;
	visibility: visible;
}

.container_register.active-sign {
	opacity: 0;
	visibility: hidden;
}

/* Media Query*/

@media (max-width: 799px)  {
	.section-p1 {
		padding: 2.5rem 2.5rem;
	}

	#navbar {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 0;
		right: -18.75rem;
		height: 100vh;
		width: 18.75rem;
		background-color: #E3E6F3;
		box-shadow: 0 2.5rem 3.75rem rgba(0, 0, 0, 0.1);
		padding: 5rem 0 0 0.625rem;
		transition: 0.3s;
	}

	#navbar.active {
		right: 0;
	}

	#navbar li {
		margin-bottom: 1.5625rem;
	}

	#mobile {
		display: flex;
		align-items: center;
	}

	#mobile i {
		color: #1a1a1a;
		font-size: 1.5rem;
		padding-left: 1.25rem;
	}

	#cerrar {
		display: initial;
		position: absolute;
		top: 1.875rem;
		left: 1.875rem;
		color: #222222;
		font-size: 24px;
	}

	#no_carrito {
		display: none;
	}

	#hero {
		height: 90vh;
		padding: 0 5rem;
		background-position: top 30% right 30%;
	}

	#fe-section {
		justify-content: center;
	}

	#fe-section .fe-box {
		margin: 0.9375rem 0.9375rem;
	}

	#producto1 .pro-contenedor {
		justify-content: center;
	}

	#producto1 .pro {
		margin: 0.9375rem;
	}

	#banner {
		height: 20vh;
	}

	#mini-banner .banner-box {
		min-width: 100%;
		height: 30vh;
	}

	#banner3 {
		padding: 0 2.5rem;
	}

	#banner3 .banner-box {
		width: 28%;
	}

	#novedades .formulario {
		width: 70%;
	}

	/* Acerca de nosotros */

	#acerca-head {
		flex-direction: column;
	}

	#acerca-head img {
		width: 100%;
		margin-bottom: 1.25rem;
	}

	#acerca-head div {
		padding-left: 0;
	}

	#acerca-app .video {
		width: 100%;
	}

	/* Pagina Contacto */

	#formulario-detalles {
		padding: 2.5rem;
	}

	#formulario-detalles form {
		width: 50%;
	}

	/* Pagina de ingresar a cuenta */

	.container_form {
		height: 70vh;
	}
}

@media (max-width: 477px) {
	.section-p1 {
		padding: 1.25rem;
	}

	#header {
		padding: 0.625rem 1.875rem;
	}

	h1 {
		font-size: 2.375rem;
	}

	h2 {
		font-size: 2rem;
	}

	#hero {
		padding: 0 1.25rem;
		background-position: 55%;
	}

	#fe-section {
		justify-content: space-between;
	}

	#fe-section .fe-box {
		width: 9.6875rem;
		margin: 0 0 0.9375rem 0;
	}

	#producto1 .pro {
		width: 100%;
	}

	#banner {
		height: 40vh;
	}

	#mini-banner .banner-box {
		height: 40vh;
	}

	#mini-banner .banner-box2 {
		margin-top: 1.25rem;
	}

	#banner3 {
		padding: 0 1.25rem;
	}

	#banner3 .banner-box {
		width: 100%;
	}

	#novedades {
		padding: 2.5rem 1.25rem;
	}

	#novedades .formulario {
		width: 100%;
	}

	footer .copyright {
		text-align: start;
	}

	/* Producto individual */

	#pro-detalles {
		display: flex;
		flex-direction: column;
	}

	#pro-detalles .pro-indi-img {
		width: 100%;
		margin-right: 0;
	}

	#pro-detalles .pro-indi-detalles {
		width: 100%;
		text-align: center;
	}

	#pro-detalles .pro-indi-detalles h2 {
		text-align: start;
		padding-left: 1.25rem;
	}

	#pro-detalles .pro-indi-detalles select {
		margin-bottom: 1.25rem;
		margin-left: 1.25rem;
	}

	/* Blog */

	#blog {
		padding: 6.25rem 1.25rem 0 1.25rem;
	}

	#blog .blog-art {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	#blog .blog-img {
		width: 100%;
		margin-right: 0;
		margin-bottom: 1.875rem;
	} 

	#blog .blog-detalles {
		width: 100%;
	}

	/* Acerca de nosotros */

	#acerca-head {
		flex-direction: column;
	}

	#acerca-head img {
		width: 100%;
		margin-bottom: 1.25rem;
	}

	#acerca-head div {
		padding-left: 0;
	}

	#acerca-app .video {
		width: 100%;
	}

	/* Pagina Contacto */

	#contacto-detalles {
		flex-direction: column;
	}

	#contacto-detalles .detalles {
		width: 100%;
		padding-bottom: 1.875rem;
	}

	#contacto-detalles .g-map {
		width: 100%;
	}

	#formulario-detalles {
		margin: 0.625rem;
		padding: 1.875rem 0.625rem;
		flex-wrap: wrap;
	}

	#formulario-detalles form {
		width: 100%;
		margin-bottom: 1.875rem;
	}

	/* Pagina Carrito*/

	#carrito-cupon {
		flex-direction: column;
	}

	#cupon {
		width: 100%;
	}

	#subtotal {
		width: 100%;
		padding: 1.25rem;
	}

	/* Pagina de ingresar a cuenta */

	.container_form {
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 75vh;
	}
}